---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import HeroSection from "../components/HeroSection.astro";
import HeroImage from "../components/HeroImage.astro";
import ReleasesSection from "../components/ReleasesSection.astro";
import ArtistsSection from "../components/ArtistsSection.astro";
import ContactSection from "../components/ContactSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main class="min-h-screen uppercase bg-black text-white">
    <Navigation />
    <HeroSection />
    <HeroImage />
    <ReleasesSection />
    <ArtistsSection />
    <ContactSection />
    <Footer />
  </main>
</Layout>
