---
---

<section class="w-full px-4 md:px-8">
  <div class="w-full aspect-video h-[500px] lg:h-[600px]">
    <img src="/hero.png" alt="Azurah Frequency" class="w-full h-full object-cover" />
  </div>
</section>
