---
import { ReleasesCarousel } from "./ReleasesCarousel";
---

<section id="releases" class="pt-20 md:pt-32 px-4 md:px-8">
  <div class="w-full max-w-[2000px] mx-auto">
    <h2 class="section-title mb-2 md:mb-4">Releases</h2>
    <ReleasesCarousel client:load />
  </div>
</section>
